@media screen and (max-width:1100px) {
     .container{
         width: 900px;
     }
     
}
@media screen and (max-width:950px) {

    .container{
            width:600px;
    }
    .menu .card-pice {flex: 70%;}
    #about div{flex: 70%; margin-bottom: 15px; }
    ._chefs .chef{flex: 47%;}

}
@media screen and (max-width:600px) {
    .container{
        width: 480px;
}
.land img{
    height: 100%;
}
.phone{margin: 0 15px;}
nav{height: 70px;}
.links li{padding: 5px 10px;}
.links li:not(.home){display: block;display: none;}

.showmenu{height:200px; transition: all 1s;}
 .showmenu .links li:not(.home){display:block;}
}
@media screen and (max-width:450px) {
    .container{width: 380px;}
}
